<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>冰糖</title>
</head>
<body>
    <h1>冰糖</h1>
    <div style="width: 100%">
        <div style="width: 60%; border: solid 1px aquamarine ; margin: 0 auto" ; >
            <h1>up</h1>
            <form action="/up">
                <input name="note" type="text" value="note">
                <input type="submit" value="submit">
            </form>
            <h1>down</h1>
            <form action="/down">
                <input name="note" type="text" value="note">
                <input type="submit" value="submit">
            </form>
        </div>
    </div>

</body>
</html>